body {
    padding: 30px;
    border: black;
}

body h1{
   display: flex;
   justify-content: center;

}
body form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    

}
body form input{
    margin: 20px;
}
body form label{
    margin: 20px;
}

#opciones{
    padding: none;
}

#opciones h3{
    display: flex;
    justify-content: center;
}

#opciones input{
    padding: 7px;
    
}
#listadodeTurnos{
    display: flex;
    justify-content: center;
} 

.swal-overlay {
    background-color: rgba(174, 17, 106, 0.564);
  }


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to right,rgb(228, 155, 206),  rgb(236, 190, 223) 40%, rgb(241, 233, 187), rgb(245, 166, 205));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }